<h1><%= @foodJournal.title %></h1>

<%= image_tag(@foodJournal.image_url.to_s) %>

<p>Description: <%= @foodJournal.description %></p>

<p>Before sugar level: <%= @foodJournal.before_sugar_lvl %></p>

<p>After sugar level:<%= @foodJournal.after_sugar_lvl %></p>

<p>Created at: <%= @foodJournal.created_at %></p>

<%= link_to "Edit", edit_food_journal_path(@foodJournal) %>
<%= link_to "Delete", food_journal_path(@foodJournal), method: :delete, data: {confirm: "Are you sure"} %>

<hr />


<% unless @foodJournal.tags.empty? %>
  <div>
    <% @foodJournal.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </div>
<% end %>
